<div>
    <mat-card [style]=
    "'height: ' + size + ';' +
     'background-color: ' + bg + ';' + 
     'color: ' + color +';'+
     'z-index: ' + index +';'     
     "
     >
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2 id="price">
                {{price}}
            </h2>
            <p>
                {{content1}}
            </p>
            <p>
                {{content2}}
            </p>
            <p id="p3">
                {{content3}}
            </p>
        </mat-card-content>
        <button (click)="eventEmit($event)"[style]=
        "'border:' + border + ';' +
        'color:' + butcolor + ';'">
        LEARN MORE
        </button>
    </mat-card>

</div>